/* Opciones.css */

.modal-content {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100%;
    background-color: #2c2f33;
    color: #f0f0f0;
    margin: 10px;
    padding: 10px;
  }
  /* .modal-inside-content{
    margin: 10px;
    padding: 10px;
  }
  .modal-inside-content button{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  } */

  .modal-inside-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }
  
  .modal-inside-content button .cierre{
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: #23272a;
  }
  
  /* Otra opción si quieres que el botón esté justo en la esquina superior derecha */


  .modal-inside-content button .cierre{
    position: absolute;
    top: 0;
    right: 0;
    background-attachment: fixed;
  }
  
  
  
  h2{
    color: white
  }
  
  .options-container {
    display: flex;
    align-items: flex-start;
    
  }
  
  .options-menu {
    flex: 1;
    width:20%;
    display: flex;
    justify-content: left;
    background-color: #23272a;
    display: flex;
    flex-direction: column;
    height: 100%;

  }
  
  .options-menu button {
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    color: #f0f0f0;

  }
  
  .options-menu button.active {
    background-color: black;
  }
  
  .options-content {
    flex: 2;
    padding: 10px;
  }
  .modal-header {
    display: flex;
    justify-content: flex-end; /* Alinea los elementos en la esquina superior derecha */
    align-items: center; /* Alinea verticalmente los elementos en el centro del contenedor */
    background-color: #2c2f33;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0; /* Coloca el encabezado en la parte superior del contenedor principal */
    right: 0; /* Coloca el encabezado en la esquina superior derecha del contenedor principal */
  }
  
  .modal-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilos adicionales según tus necesidades */
  .cierre {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: #23272a;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
  }