.SideBarMenuServer__container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    border: 1px black inset;
    overflow: hidden;
    align-items: center;
    margin: 0
}

.SideBarMenuServer__container__input >input{
    background-color: #222428;
    border-radius: 5px;
    height: 30px;
    width: 12vw;
    margin: 5%
}

.SideBarMenuServer__container__input >input::placeholder{
    text-align: center;
}
.SideBarMenuServer__container__menu{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10%
}

.SideBarMenuServer__container__menu >li{
    display: flex;
    gap: 20px;
    text-align: center;
    text-justify: center;
    cursor: pointer;
}

.SideBarMenuServer__container__listfriends{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 10%
}
.SideBarMenuServer__container__listfriends__li{
    text-align: center;
    text-justify: center;
    display:flex;
    gap: 15px;
}

.SideBarMenuServer__container__listfriends__li > img {
    border-radius: 50%;
}

.SideBarMenuServer__container__userControlls{
    align-self: end;
    background-color:#2b2b2d ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 15px;
    
}
.SideBarMenuServer__container__userControlls ul{
    display: flex;
    align-self: center;
   gap: 10px;
   cursor: pointer
    
}

.SideBarMenuServer__container__userControlls__div{
    display: flex;
    justify-content: space-between;
}

.SideBarMenuServer__container__userControlls__div div{
    display: flex;
    gap: 10px
}

.SideBarMenuServer__container__userControlls__section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}