.call-container {
    background-color: #23272a;
    .chat-container {
        background-color: #2c2f33;
        .send-container{
            display: flex;
            justify-content: center;
            background-color: #36393f;
            .input {
                border-radius: 5px;
                padding: 10px;
                background-color: #36393f;
                width: 70%;
                color:#ffffff;
                border: none;
            }
            .redondo {
                cursor: pointer;
                background-color: #36393f;
                border-radius: 50px;
                border: none;
            }
        }
    }
}