.lista-container {
    max-width: 100%; /* Establece el ancho máximo necesario */
    overflow-x: auto; /* Activa el scroll horizontal cuando sea necesario */
    white-space: nowrap; /* Evita que los elementos se envuelvan en varias líneas */
  }
  
  .lista {
    list-style: none;
    display: flex;
  }
  