.header-wrapper {
  margin-bottom: 0.8rem;
}

.select-button {
  background-color: transparent;
  border: none;
  color: #f6f6f7;
  font-weight: 600;
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
  margin: 0 8px 8px 0;
}

.select-button:hover,
.select-button:active,
.active {
  background-color: #41434a;
}

.search-input {
  background-color: #1e1f22;
  border: none;
  width: 100%;
  box-sizing: border-box;
  padding: 0.4rem;
  border-radius: 3px;
  color: #a3b1b8;
}
