.MidlleMenuServerContainer__li{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    
}


.MidlleMenuServerContainer__li__connected::after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: green;
    top: 120px;
    left: 50px;
    border-radius: 100%;
    border: inset 2px green
}
.MidlleMenuServerContainer__li__messageConnected{
    display: flex;
    flex-direction: column;
}

.MidlleMenuServerContainer__li >li{
    display: flex;
    border-bottom: 1px black inset;
    padding-bottom: 20px;
    gap: 20px
}

.MidlleMenuServerContainer__input__tableSearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    border: inset 1px black;
    width: 80%
}